* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    border: none;
}

a{
    text-decoration: none;
}

/*Encabezado del Articulo*/

header{
    width: 100%;
    height: 80px;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid #E5E5E5;
}
nav{
    display: block;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

button{
    
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.botones-izquierda{
    float: left;
    /*justify-content: left;
    text-align: left;*/
}

.botones-derecha{
    float: right;
}

.tittle-encabezado{
    display: inline-block;
    color: #0250c9;
    font-size: 40px;
    cursor: pointer;
}

.boton-Suscribete{
    background-color: #ffff24;
    border-color: #ccc;
    color: #000; 
    margin: 0 24px 0 70px;  
}

.boton-Suscribete:hover{
    color: #fefefe;
    background-color: #000;
}

.boton-Ingresar{
    background-color: #fff;
    border-color: #0250c9;
    margin-right: 20px;
}
.boton-Ingresar:hover{
    background: #126fff;
    border-color: #126fff;
    color: #fefefe;
}

.boton-Secciones{
    margin: 0 24px 0 20px;
}

.boton-Secciones:hover{
    color: #126fff;
}

.boton-Buscar{
    margin: 0 70px 0 0;
}

.boton-Buscar:hover{
    color: #126fff;
}

/*Articulo*/

main{
    font-family: Georgia, serif;
    margin-left: 10px;
}

.contenedor-article-aside{
    display: inline-block;
    margin-right: 10px;
}

.contenido-article-aside{
    display: inline-block;
}

.Articulo{
    background-color: rgb(250, 249, 249);
    box-shadow: inset 5px 0 5px -5px #cecece;  
    padding: 20px;
    margin-bottom: 30px;
    width: 70%;
    float: left;
}

.NEWS-mundo{
    display: block;
    width: 15%;
    margin: 15px 0 10px 50px;
}

.Links{
    display: inline-block;
    /*TOP RIGHT BOTTOM LEFT*/
    margin: 130px 0 30px 50px;
    color: #0250c9;   
}

.title-noticia{
    display: inline-block;
    margin: 5px 5px 0 10px; 
    font-size: 35px;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Georgia, serif;
    padding: 20px 20px;
    background-color: rgb(250, 249, 249);
    box-shadow: inset 5px 0 5px -5px #cecece; 
}

.Subtitulo-Noticia{
    display: inline-block;
    font-size: 20px;
    margin:  14px 0; 
    font-weight: normal;
    line-height: 1.5em;
}

span{
    display: block;
    height: fit-content;
    color: #5a5a5a;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
}

.Imagen-2{
    padding-left: 0 40px 0 0;
}

article img{
    width: 100%;
    display: flex;
}



.Descripción-Imagen{
    display: inline-block;
    font-size: 18px;
    margin:  10px 0; 
    font-weight: normal; 
}

section{
    line-height: 1.8em;
    padding-left: 16px;
    margin: 20px;
    font-size: 20px; 
}

p{
    margin: 20px 0;
}

.Info{
    margin: -5px 0;
}

strong{
    font-size: 40px;
    color: rgb(46, 46, 46);
    padding-left: 10px;
}

/*h2{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 0;
}*/

hr{
    border-bottom: 1px solid #E5E5E5;
}

/*Aside*/

aside{
    width: 29%;
    float: right;
	padding: 50px;
	font-size: 16px;
	background: rgb(250, 249, 249);
	border: none;
	border-radius: 6px;
}

aside h1{
    font-size: 28px;
    text-align: center;
    padding-bottom: 10px;
}

aside img{
    display: inline-block;
    width: 100%;
    margin: .5rem;
    cursor: pointer;
}

aside p{
    display: inline-block;
    font-style: normal;
    margin: .5rem;
    cursor: pointer;
}

/*Footer*/

footer{
    margin: 0 10px;
}

footer h1{
    display: inline-block;
    color: #0250c9;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.tittle-imagen-footer{
    text-align: center;
    justify-content: center;
}

.imagen-footer{
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    justify-content: center;
}

.imagen-google{
    margin: 0 0 0 15px;
}

.imagen-app{
    margin: 0 0 0 15px;
}

.listas{
    display: block;
}

li{
    margin-top: 20px;
    margin-left: 25px;
    padding: 5px;
    display: inline-block;
}

.condiciones-privacidad{
    display: inline;
    margin-left: 100px;
}

footer p{
    margin: 40px 0 5px 25px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, serif;
}

.ultimo-parrafo-footer{
    display: block;
    margin: 30px;
    margin-bottom: 40px;
    text-align: right;
    justify-content: right;
}